
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
  
}

nav a {
  text-align: center;
}

#hero-msg h1 {
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", "sans-serif";
  font-size: 2em;
  color: #f9f6f6;
  margin: 0;
  padding: 0;
}

#hero-msg h4 {
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", "Montserrat";
  font-size: 1.5em;
  color: #f9f6f6;
  margin: 0;
  padding: 0;

}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#background {
  height: 725pxpx;
  background-color: #00343d;
}

body {
  font-family: "Montserrat", "sans-serif";
  color : #e0e7e9;
  background-color: #00343d;
  text-decoration: none;
  margin: 0;
  padding: 0;


}

header {
  background-color: #ffd633;
  color: #0b0b0b;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Montserrat", "sans-serif";
  padding: 0;
  
  
}


nav a {
  background-color: #ffd633;
  color: #f9f6f6;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Montserrat", "sans-serif";
  
}

nav a:hover {
  background-color: #ffd633;
  text-decoration: none;
}

.book,
.join {
  color:#e0e7e9;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1.5em;
}

.book:hover,
.join:hover {
  background-color: #bdc0ea;
  text-decoration: none;
}

#background {
  background-color: rgb(255, 255, 255) !important;
}

.msg {
  background-color: #575e72;
}

footer {
  background-color: rgb(84, 80, 19);
}

nav a {
  color: #0a9843;
  padding: 35px;
}

nav a:hover {
  color: white;
}

.home-title {
  color: black;
}

h4 {
  color: black;
}

.book,
.join {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

.book:hover,
.join:hover {
  color: rgb(129, 25, 77);
  text-decoration: none;
}

.msg h2 {
  color: white;
}

.msg p {
  color: white;
}

footer {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer a:hover {
  color: rgb(129, 25, 77);
  text-decoration: none;
}

.icon {
  width: 80px;
}

nav a {
  text-align: center;
  width: auto;
}
