
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
  
}

nav a {
  text-align: center;
}

#hero-msg h1 {
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", "sans-serif", "Roboto";
  font-size: 2em;
  color: #f9f6f6;
  margin: 0;
  padding: 0;
}

#hero-msg h4 {
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", "Montserrat", "Roboto";
  font-size: 1.5em;
  color: #f9f6f6;
  margin: 0;
  padding: 0;

}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#background {
  height: 725pxpx;
  background-color: #00343d;
}

body {
  font-family: "Montserrat", "sans-serif", "Roboto";
  color : #e0e7e9;
  background-color: #00343d;
  text-decoration: none;
  margin: 0;
  padding: 0;


}

header {

  display: grid;
  grid-template-columns: 150px auto;
  background-color: #ffd633;
  color: #0b0b0b;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Montserrat", "sans-serif", "Roboto";
  padding: 0;
  
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
    
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-img {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  z-index: -1;
  width: 100%;
}

#hero-msg h1 {
  color: #0b0b0b;
}
#hero-msg h4 {
  color: #0b0b0b;
}

/*Place the <section> with the id of hero-msg to spanning column lines 2–3 and row lines 1–2.*/
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

/*main grid declaration, grid-template-columns an equal to 10 fractions*/
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}


.card-img, .mountains {
  width: 100%;
}

.rivers-card {
  grid-column: 2/5;
  grid-row: 2/4;
}

.camping-card {
  grid-column: 5/8;
  grid-row: 2/4;
}

.rapids-card {
  grid-column: 8/11;
  grid-row: 2/4;
}

#background {
  grid-column: 1/12;
  grid-row: 4/10;
}

.mountains {
  width: 100%;
  grid-column: 2/8;
  grid-row: 5/9;
  box-shadow: 5px 5px 10px #6f7364;

}

.msg {
  grid-column: 6/11;
  grid-row: 6/8;
  background-color: #6f7364;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}


nav a {
  background-color: #ffd633;
  color: #f9f6f6;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Montserrat", "sans-serif", "Roboto";
  
}

nav a:hover {
  background-color: #ffd633;
  text-decoration: none;
}

.book,
.join {
  color:#e0e7e9;
  text-decoration: none;
  font-family: "Montserrat", "sans-serif", "Roboto";
  font-size: 1.5em;
}

.book:hover,
.join:hover {
  background-color: #e9176b;
  text-decoration: none;
}

#background {
  background-color: rgb(255, 255, 255) !important;
}

.msg {
  background-color: #575e72;
}

footer {
  background-color: rgb(84, 80, 19);
}

nav a {
  color: #0a9843;
  padding: 35px;
}

nav a:hover {
  color: white;
}

.home-title {
  color: black;
}

h4 {
  color: black;
}

.book,
.join {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}



main section img {
    box-sizing: border-box;
}

.book:hover,
.join:hover {
  color: rgb(129, 25, 77);
  text-decoration: none;
}

.msg h2 {
  color: white;
}

.msg p {
  color: white;
}

footer {

  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #6f7364;
  padding: 25px 50px;
  margin-top: 200px; 
  display: flex;
  justify-content: space-around;
  align-items: center;

}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer a:hover {
  color: rgb(129, 25, 77);
  text-decoration: none;
}

.icon {
  width: 80px;
}

nav a {
  text-align: center;
  width: auto;
}

/*adding the media queries*/

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}
/*form styling*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

form input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6f7364;
}

form textarea {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6f7364;
}

form button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6f7364;
  background-color: #6f7364;
  color: white;
}

form button:hover {
  background-color: #e9176b;
  color: white;
}

