@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


:root {
    --primary-color: #343637;
    --secondary-color: #0C0C0C;
    --accent1-color: #d12d27;
    --accent2-color: #c6cdcf;
    --accent3-color: #bf3d38;
    --paragraph-background-color: #292f31;
    --heading-font: "Open Sans";
    --paragraph-font: "Montserrat";

}

body {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;      
}

img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }

  #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
  }

h1, h2, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin: 0;
}

h3 {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
    margin: 0;
}

h2 {
    text-align: center;
}

header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
    
  }
  

a {
    color: var(--accent2-color);
    text-decoration: none;
    border: 1px solid var(--accent2-color);
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
    display: inline-block;


}

a:hover {
    color: var(--accent1-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td {
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color: var(--primary-color);
    /*color to border*/
    border: 1px solid var(--accent2-color);
  }
  .secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--accent2-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
    border: 1px solid var(--accent2-color);
  }
  .accent2 {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  
/*footer*/
footer {
  background-color: var(--footer-background-color);
  color: #d0e1f0;
  padding: 1em;
  text-align: center;
  padding: 25px 50px;
  margin-top: 100px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

footer > p {
  color: #d0e1f0;
}
footer > p > a {
  color: #d0e1f0;
}

footer > p > a:visited {
  color: #d0e1f0;
}
footer > p > a:hover {
  color: #151718;
  background-color: #ffd633;
}
